
<br>
<h3>-------------------- Orders -------------------------</h3>
<br>
<table>
  <thead>
    <tr>
      <th colspan="1">order--</th>
      <th>email-- </th>
      <th>username-- </th>
      <th>productname--</th>
      <th>product.id------</th>
      <th>created at--</th>
      <th>total--</th>
      <th ></th>
    </tr>
  </thead>
  <br>
  <tbody>
    <% @order.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= User.find(order.user_id).email %></td>
        <td><%= User.find(order.user_id).username %></td>
        <td><%= Product.find(order.product_id).name %></td>
        <td><%= order.product_id %></td>
        <td><%= order.created_at %></td>
        <td><%= order.total/100 %></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



