

<h1 id="ourprod">Our Bikes</h1>

<div  id="select" class="container-fluid">
<%= @men%><%= @women%><%= @children%>

	<%= form_tag("/products", method: "get",type:"num", id:"select000") do %>
	<span id="select001">
		<span>Max € <%= number_field_tag(:maxamount,placeholder= @maxamount/100, id: "select011") %>.</span> Show by 
		<span><%= select_tag(:orderBy, options_for_select([['name asc',name: :asc],
				['name desc',name: :desc], ['price asc', price: :asc], ['price desc', price: :desc]],
				selected:@orderBy),id:"select012")%></span>
		<span><%= label_tag(:men, "Men") %></span>
		<span><%= check_box_tag(:men,'m',@men)%></span>
		<span><%= label_tag(:women, "Women")%></span>
		<span><%= check_box_tag(:women, 'w', @women) %></span>
		<span><%= label_tag(:children, "Children")%></span>
		<span><%= check_box_tag(:children, 'c', @children) %></span>

		<span><%= submit_tag("Apply",id:"catapply") %></span>	
		<% end %>
	</span>
</div>
<div class="container-fluid">
	<div class="row" id="prodindexrow">

	    <%#cache (cache_key_for_products) do %>

	 
	    <%= render @products %>
	    <%# end %>  

	</div>
</div>
<div id = 'paginatediv'>
	<span><%= will_paginate @products,  previous_label: "previous", next_label: "next", id:"pagecontrol" %></span><% {is_active:true}%>
</div>


