

<h1 id="ourprod">Our Bikes</h1>

<div  id="indexback">
	<%= form_tag("/products", method: "get",type:"num", id:"select") do %>
		<p id="selector" > Max € <%= number_field_tag(:maxamount,placeholder= @maxamount/100, onchange:"this.form.submit();", id: "numberfield") %>. Show by 
			<%= select_tag(:orderBy, options_for_select([['name asc',name: :asc],
			['name desc',name: :desc], ['price asc', price: :asc], ['price desc', price: :desc]],
			selected:@orderBy), onchange: "this.form.submit();",id:"selectorTag")%>
		</p>
	<% end %>

	<div class="container-fluid">
	  <div class="row" id="prodindexrow">

	    <%#cache (cache_key_for_products) do %>

	   
	    <% @products =  @products.where("price < #{@maxamount}")%>
	 
	    <%= render @products %>
	    <%# end %>  

	  </div>
	</div>
	<div id = 'paginatediv'>
		<span><%= will_paginate @products,  previous_label: "previous", next_label: "next", id:"pagecontrol",is_active:true %><% {} %></span>
	</div>
</div>

