

<h1 id="ourprod">Our Bikes</h1>
<%= @a %>

<%= form_tag("/products", method: "get",type:"num", id:"select") do %>
	<p id="selector" > Max € <%= number_field_tag(:maxamount,placeholder= @maxamount/100, onchange:"this.form.submit();", id: "numberfield") %>. Show by 
		<%= select_tag(:a, options_for_select([['name asc', 1],
		['name desc', 2], ['price asc', 3], ['price desc', 4]],
		selected:@a), onchange: "this.form.submit();",id:"selectorTag")%>
	</p>
<% end %>

<div class="container-fluid">
  <div class="row" id="prodindexrow">

    <%#cache (cache_key_for_products) do %>

    <%# @products = @products.where("name = 'Wanda' OR name = 'Gabi'") %>
    <% @products =  @products.where("price < #{@maxamount}")%>
 
      <% if @a == '1'%>
      <%= render @products.order(name: :asc) %>
      <% elsif @a == '2'%>
      <%= render @products.order(name: :desc) %>
      <%elsif @a == '3'%>
      <%= render @products.order(price: :asc) %>
      <%elsif @a == '4'%>
      <%= render @products.order(price: :desc) %>
      <%#else%>
      <%#= render @products %>
      <%end %>
    <%# end %>

  </div>
</div>




