<!DOCTYPE html>
<html>
  <head>
  	
  	<%= favicon_link_tag 'favicon.ico' %>
    <title>zweiradeins</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    
  </head>

  <body>
  		
  		<% if notice %>
    	<p id="notice" class="alert alert-info"><%= notice %></p>
		<% end %>

		<% if alert %>
    	<p id="alert" class="alert alert-warning"><%= alert %></p>
		<% end %>
		<% flash.clear %>



	    <nav class="navbar navbar-inverse navbar-fixed-top"   role="navigation" id="Navi">
	        <div class="container-fluid" >
	            <div class="navbar-header" > 
		            <button type="button" class=" navbar-toggle" data-toggle="collapse"
		            data-target=".navbar-collapse">
		                <span class="sr-only">Toggle navigation</span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                
		            </button>
		            
			            <div class="project name navbar-brand">
			            <%= link_to 'BikeBerlin',static_pages_landing_page_path %>
			            </div>		      		          
	         	</div><!--end navbar-header-->


		 	    <div class="navbar-collapse collapse">  
			        <ul class="nav navbar-nav navbar-right">
			       		<li><%= link_to 'PRODUCTS', products_path %></li>
				        <li><%= link_to 'REPAIRS', static_pages_repairs_path %></li>
				        <li><%= link_to 'ABOUT', static_pages_about_path %></li>
				        <li><%= link_to 'CONTACT', static_pages_contact_path %></li>

				       	<li>
							<a href="#modalSearch" data-toggle="modal" data-target="#modalSearch" id= "searchbtnnav">
							<span id="searchGlyph" class="glyphicon glyphicon-search " ></span></a>										        
				       	</li>
	       	
				        <li>
						  <% if user_signed_in? %>
						  	<%= link_to "",edit_user_registration_path, :class => "glyphicon glyphicon-user",id:"useredit" %></li>
						<li>   <%= link_to('LOGOUT', destroy_user_session_path, method: :delete, id:"logout") %></li>

						  <% else %>
						    <%= link_to('LOGIN', new_user_session_path,id:"login") %>
						  <% end %>
						</li>
			        </ul>

			    </div><!--navbar-->
	     	</div><!--end container-->
	    </nav><!--end nav-->


	    <div id="Search">
	    	<div id="modalSearch" class="modal fade" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">

						<div class="modal-header">
						    <button type="button" class=  "close" data-dismiss = "modal">x</button>
						        <h5>search by name:</h5>
						</div>

						<div class="modal-body">
						    <div class="row">
						                   	
								<%= form_tag("/products", method: "get",
									 type:"text",class:"input-group") do %>
											
								<%= text_field_tag(:q,placeholder="",class:"form-control input-group") %>
									
								<span class="input-group-btn">

									<%= submit_tag "Go!",class:"btn btn-default",id:"searchbtnmod" %>
	       						
	      						</span>
											
																	<% end %>

						    </div><!--/row-->  
						</div><!--end modal-body-->
						              
					</div><!---end modal-content-->

				</div><!--end modal-dialog-->

			</div><!--end modalSearch-->	      
		</div><!--end Search-->				  

	<main>

	    <%= yield %>

	</main>


	<footer >
		
	    <%= link_to static_pages_contact_path do%><p id="cright"> &copy; MDCCCXV Bike Berlin</p><%end%>
 		<%= link_to static_pages_imprint_path do%><p id= "imprint">legal</p><%end%>
	</footer>
  </body> 
</html>




